@import '../../vars.scss';

.containerTitle{
 padding-top: 36px;
 font-family: $title-fonts;
 text-align: start;
 text-transform: uppercase;
 h2{ 
  font-size: 28px;
  font-weight: lighter;
 }
 
}
.text{
 padding-top: 24px;
 text-align: justify;
 span{
  text-transform: uppercase;
  color: $text-bright-color
 }
}
.ulEmploye{
 @extend %grid-templ;
 padding-top: 36px;
}
.liContainer{
 width: 148px;
 height: 219px;
 text-align: start;
 
}
.nameEmploye{
 font-size: 18px;
 padding-top: 8px;
}
.poition{color: rgba(130, 131, 130, 1)}
@media screen and (min-width: $screen-tablet) {
  .tabletStyle{ 
   display: flex;
   flex-direction: row-reverse;
   padding-top: 100px;
  }
  .containerTitle{ 
   font-size: 36px;
   width: 50%;
   border-left: 1px solid $text-bright-color;
   padding: 0px;
   padding-left: 11px;
    h2{ 
    font-size: 36px;
   }
  }
  .text{ 
   width: 50%;
   padding: 0px;
   padding-right: 65px;
  }
  .ulEmploye{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 24px;
  }
}
@media screen and (min-width: $screen-compucter) {
 .containerTitle{
  letter-spacing: 0em;
  h2{ 
    font-size: 48px;
    padding-left: 161px;
    line-height:1em;
   }

 } 
 .liContainer{
 width: 274px;
 height: 353px; 
 h3{ 
  font-size: 20px;
 }
 p{
  font-size: 16px;
 }
 img{ 
  width: 274px;
  height: 290px;
 }
 
}
} 