@import '../../vars.scss';
.container{
 @extend %display-center;
 padding-top: 146px;
}
.mainTitle{
 font-family: $title-fonts;
 size: 36px;
 text-align: start;
 text-transform: uppercase;
}
.mainText{
 padding-top: 24px;
 text-align: start;
}
.containerButton{
  @extend %display-center;
  padding: 24px 0px;
  width: 100%;
  border-bottom: 1px solid $text-bright-color;
}
.mainButton{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 141px;
 height: 39px;
 border: 1px solid $text-bright-color;
 border-radius: 500px;
}
.textButton{
 margin-right: 12px;
}
.svgButton{
padding: 8px;
background-color: $text-bright-color;
border-radius: 100px;
}
.textAdress{
 @extend %display-center;
 padding: 24px 0px 36px;
 p{
  font-size: 16px;
  width: 100%;
  margin: 0px;
  margin-bottom: 8px;
 }
}
.mainImg{}