@import '../../vars.scss';
.container{
 min-width: 95%;
 margin-top: 36px;
 border-top: 1px solid $text-bright-color;
 padding-top: 24px;
 position: relative;
}
.logoContainer{
 display: flex;
 justify-content: space-between;
 button{ 
  @extend  %display-center;
  width:32px;
  height: 32px;
  background-color: $text-bright-color;
  border-radius: 16px;
 }
}
.social{
 padding-top: 24px;
 svg{ 
  margin-right: 8px;
 }
}
.adressC{
 padding-top: 24px;
 padding-bottom: 52px;
 p{ 
  font-style: normal;

 }
}
@media screen and (min-width: $screen-tablet) {
.container{
 padding: 24px 30px;
}
.social{
 position: absolute;
 margin: 0 auto;
 top: 0;
 left: 50%;
}
.adressC{
 display: flex;
 justify-content: space-between;
}
} 