@import './vars.scss';

.App {
 min-width: 100%;
 @extend %display-center;
 color: $text-main-color;
 font-family: $main-fonts;
 letter-spacing: 0.04em;
 text-align: center;
}

.container {
  width: 360px;
  margin: 36px 15px 0px;
}
@media screen and (min-width: $screen-mobile) {
  .container {
    width: $screen-mobile;
    
  }
}
@media screen and (min-width: $screen-tablet) {
  .container {
    width:  $screen-tablet;
  }
}
@media screen and (min-width: $screen-compucter) {
  .container {
    width: $screen-compucter;
  }
}


