
 %display-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
%grid-templ{
 
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 24px;
 grid-row-gap: 24px;
}
$title-fonts: 'Oswald',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$main-fonts: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

$text-main-color: rgba(23, 61, 51, 1);
$text-bright-color: rgba(151, 210, 139, 1);


$screen-mobile: 480px;
$screen-tablet: 768px;
$screen-compucter: 1280;